* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Nunito', sans-serif;
	background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.wrapper {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.form {
	margin: 5em 2.5em;
	padding: 5em 2em;
	text-align: center;
	border-radius: 2em;
	background-color: rgba(251, 252, 255, 0.966);
	box-shadow: 0px 8px 40px 11px rgba(180, 181, 191, 1);

	&__heading {
		padding-bottom: 2em;
		font-size: 2rem;
		color: rgb(0, 0, 0);
		text-transform: uppercase;
	}

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding-bottom: 2em;
		width: 100%;

		&-error {
			input {
				border: 1px solid rgb(0, 137, 250);
				background-color: rgba(0, 137, 250, 0.11);
			}
		}
	}

	&__input {
		padding: 0.5em 1em;
		width: 100%;
		border: 1px solid rgb(197, 197, 197);
		border-radius: 0.5em;
		text-align: center;
	}
	&__label {
		padding-bottom: 0.5em;
		font-size: 1.5em;
		text-transform: uppercase;
	}

	&__error {
		padding: 1em 0;
		margin: 0 auto;
		font-size: 1.5em;
		visibility: hidden;
		color: rgb(0, 137, 250);
		text-transform: uppercase;

		&-active{
			visibility: visible;
		}
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1em 0;
	}

	&__btn {
		padding: 0.5em 1em;
		width: 100%;

		background-color: rgba(0, 60, 255, 0.61);
		color: #fff;
		font-family: 'Nunito', sans-serif;
		font-size: 1.8rem;
		text-shadow: 1px 1px rgb(0, 0, 0);
		border-radius: 0.5em;
		cursor: pointer;
		transition: background-color 0.3s;

		&:nth-child(1) {
			margin-right: 0.3em;
			&:hover {
				background-color: rgb(192, 57, 23);
			}
		}

		&:nth-child(2) {
			&:hover {
				background-color: rgb(28, 212, 59);
			}
		}

		&--close {
			width: 100%;
		}
	}

	&__popup {
		display: flex;
		position: absolute;
		top: -300%;
		left: 50%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 5em 6em;
		transform: translate(-50%, -50%);
		background-color: rgb(255, 255, 255);
		border: 1px solid rgb(0, 0, 0);
		border-radius: 1em;
		z-index: 1;
		
		transition: top 1s;

		&-info {
			font-size: 2em;
			width: 100%;
			text-transform: uppercase;
			padding-bottom: 4em;
		}

		&--is-active {
			top: 80%;
		}
	}
}

@media (min-width: 556px) {
	.form {
		margin: 20em 5em;
		&__input {
			width: 60%;
			margin: 0 auto;
		}

		&__heading {
			font-size: 2.5em;
		}

		&__label {
			padding-bottom: 1em;
			font-size: 2.2rem;
			margin-left: 2em;
		}

		&__error {
			font-size: 2.2rem;
		}

		&__buttons {
			justify-content: flex-end;
		}

		&__btn {
			width: 25%;

			&--close {
				width: 100%;
			}
		}
	}
}

@media (min-width: 776px) {
	.form {
		margin: 30em 15em;

		&__popup {
			background: rgba(255, 255, 255, 0.51);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(3.4px);
		border: 1px solid rgba(26, 24, 24, 0.849);
			&--is-active {
				top: 15%;
			}
		}
	}
}
